.accordion-item{
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 15px 9px 9px -2px rgba(230,224,224,0.86);
  -webkit-box-shadow: 15px 9px 9px -2px rgba(230,224,224,0.86);
  -moz-box-shadow: 15px 9px 9px -2px rgba(230,224,224,0.86);
  border-radius: 47px 47px 47px 47px;
  -moz-border-radius: 47px 47px 47px 47px;
  -webkit-border-radius: 47px 47px 47px 47px;
  border: 0px solid #000000;
}

.accordion-opened{
  border-left: 5px solid blue;
  transition-duration: 1s;
  background-color: aquamarine;
}

.accordion-item:hover{
  border-left: 5px solid blue;
  transition-duration: 1s;
}

.accordion-title{
  display: flex;
  justify-content: space-between;
}